@charset "UTF-8";
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* 共通設定 */
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #333;
  position: relative;
}

input, select, textarea:focus {
  outline: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input {
  height: 30px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  background: #FFF;
  padding: 0 12px;
}

textarea {
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  background: #FFF;
  padding: 12px;
  resize: none;
}

main {
  margin: 65px auto;
  background: #fff;
}
main .content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1279px) {
  main .content {
    padding: 0 20px;
  }
}
main .content__inner {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #F2F2F2;
  -webkit-box-shadow: 0 2px 0 #F2F2F2;
          box-shadow: 0 2px 0 #F2F2F2;
  padding: 15px;
}
main section:not(:last-child) {
  margin-bottom: 20px;
}

/* ヘッダー */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 65px;
  background: url(../img/header.jpg) top right no-repeat;
  background-size: cover;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0 50px;
}
.header__logo {
  color: #fff;
  font-size: 24px;
  font-family: "Hind", sans-serif !important;
}
.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}
.header__user-name {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  margin-right: 10px;
}
.header__user-name img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
.header__btn {
  color: #fff !important;
  background: transparent !important;
  border: 1px solid #fff;
}
.header-nav {
  width: 100%;
  background: #f0f0f0;
  padding-top: 10px;
}
.header-nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  width: 100%;
  border-bottom: 5px solid #039AE7;
  margin: 0 auto;
}
@media screen and (max-width: 1279px) {
  .header-nav__inner {
    padding: 0 20px;
  }
}
.header-nav__list li {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 35px;
  background: #36474e;
}
.header-nav__list li::after {
  position: absolute;
  top: -1px;
  right: -1px;
  content: "";
  width: 20px;
  height: 20px;
  border-top: 10px solid #f0f0f0;
  border-right: 10px solid #f0f0f0;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
}
.header-nav__list li:not(:last-child) {
  margin-right: 10px;
}
.header-nav__list li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  line-height: 35px;
  padding: 0 15px;
}
.header-nav__list li.active {
  background: #039AE7;
}
.header-nav__cart img {
  width: 28px;
  height: 28px;
}
.header-nav__cart-label {
  color: #666;
  font-size: 14px;
  margin-left: 7px;
  margin-right: 10px;
}
@media screen and (max-width: 1279px) {
  .header-nav__cart-label {
    margin: 0;
  }
}
.header-nav__cart-value {
  display: inline-block;
  width: 32px;
  height: 32px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  line-height: 32px;
  text-align: center;
  background: #FF3366;
  border-radius: 50%;
}
.header-nav__info {
  max-width: 1200px;
  width: 100%;
  font-size: 14px;
  margin: 0 auto 10px auto;
}
@media screen and (max-width: 1279px) {
  .header-nav__info {
    padding: 0 20px;
  }
}

/* フッター */
.footer {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
  border-top: 1px solid #ccc;
  background: #f0f0f0;
}
.footer p {
  font-size: 14px;
  color: #999;
}

/* ボタン */
.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 30px;
  color: #fff;
  font-weight: 700;
  background: #039AE7;
  border-radius: 5px;
  text-align: center;
}
.btn span,
.btn i {
  font-size: 24px;
  color: #fff;
  margin-right: 10px;
}
.btn--sm {
  width: 130px;
  height: 25px;
  font-size: 14px;
}
.btn--xs {
  width: 90px;
  height: 25px;
  font-size: 14px;
}
.btn--gray {
  background: #999;
}
.btn--lightgray {
  color: #999;
  background: #ededed;
}

.content__buttons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-top: 10px;
}
.content__buttons .btn {
  width: 210px;
}
.content__buttons .btn:last-child {
  margin-left: 20px;
}

/* 見出し */
.content__header {
  margin-top: 15px;
  margin-bottom: 20px;
}
.content__header-ttl {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  color: #039AE7;
  padding-bottom: 11px;
}
.content__header-ttl::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 200px;
  height: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#039AE7), color-stop(20%, #039AE7), color-stop(20%, #c8c8c8), to(#c8c8c8));
  background: linear-gradient(90deg, #039AE7 0%, #039AE7 20%, #c8c8c8 20%, #c8c8c8 100%);
}
.content__header-txt {
  margin-top: 10px;
}

.section__header {
  margin-bottom: 10px;
}
.section__header-ttl {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  padding-left: 11px;
}
.section__header-ttl::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 3px;
  height: 100%;
  background: #039AE7;
}
.section__header-txt {
  font-size: 14px;
  line-height: 2;
  margin-top: 25px;
  padding: 0 15px;
}
.section__header-txt ul {
  list-style-type: disc;
  padding-left: 1rem;
}
.section__header-txt figure {
  display: table;
  border: 1px solid #DDDDDD;
  margin-top: 25px;
}
.section__header-txt figure figcaption {
  display: table-caption;
  caption-side: bottom;
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
}

/* 検索ボックス */
.search-box__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 5px;
  padding-top: 5px;
}
.search-box__item-ttl {
  width: 160px;
  font-weight: 500;
  line-height: 30px;
}
.search-box__item-body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.search-box__item-body input {
  width: 350px;
}
.search-box__item--checkbox .search-box__item-ttl {
  line-height: inherit;
}
.search-box__buttons {
  text-align: center;
  margin-top: 10px;
}
.search-box__buttons button {
  margin: 0 7px;
}
.search-box__checkbox {
  width: 25%;
  margin-bottom: 5px;
}
.search-box__checkbox input[type=checkbox] {
  width: 18px;
  height: 18px;
  background: #f3f3f3;
  border: 1px solid #cdcdcd;
  margin-right: 5px;
}
.search-box__checkbox input[type=checkbox]:checked + label {
  color: #1A6ED2;
}
.search-box__checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.search-box__serialnum input {
  width: 160px;
}
.search-box__serialnum input:not(:last-child) {
  margin-right: 15px;
}

/* テーブル */
.table {
  width: 100%;
  font-size: 13px;
  border-collapse: collapse;
  table-layout: fixed;
}
.table thead tr {
  height: 40px;
}
.table tbody tr {
  height: 40px;
}
.table tbody tr:nth-child(odd) {
  background: #fafafa;
}
.table th,
.table td {
  border: 1px solid #DDDDDD;
  padding: 0 0.1rem;
  vertical-align: middle;
  width: auto;
}
.table th {
  height: 40px;
  color: #fff;
  font-weight: initial;
  background: #666;
  text-align: center;
}
.table td {
  height: 40px;
  word-wrap: break-word;
}
.table td button img {
  width: 23px;
  height: 23px;
}
.table td input[type=checkbox] {
  width: 18px;
  height: 18px;
  background: #f3f3f3;
  border: 1px solid #cdcdcd;
}
.table__header, .table__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.table__header {
  margin-bottom: 5px;
}
.table__header-buttons .btn:last-child {
  margin-left: 15px;
}
.table__header-flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.table__footer {
  margin-top: 5px;
}
.table__footer-txt {
  font-size: 14px;
  margin-right: 10px;
}
.table__select {
  position: relative;
  display: inline-block;
  max-width: 87px;
  width: 100%;
  border: 1px solid #999;
  border-radius: 3px;
  height: 30px;
  background: #fff;
}
.table__select::after {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  font-family: "Material Icons";
  font-size: 24px;
  color: #999;
  pointer-events: none;
}
.table__select select {
  width: 100%;
  height: 100%;
  text-align: left;
  line-height: 30px;
  padding-left: 5px;
}
.table--2col tr {
  height: 60px;
}
.table--2col th,
.table--2col td {
  padding: 0 20px;
}
.table--2col th {
  width: 200px;
  text-align: left;
}
.table--2col td {
  width: 100%;
}
.table--2col td input {
  width: 350px;
}
.table--2col td input + span {
  font-size: 14px;
  margin-left: 20px;
}
.table--2col td .password-icon {
  width: 50px;
  color: #fff;
  margin: 0 0 0 5px;
}
.table--2col td .password-icon i {
  font-size: 12px;
  margin-right: 0;
}
.table--result tbody tr:nth-child(odd) {
  background: none !important;
}
.table--result tbody tr.noStock {
  background: #fafafa !important;
}

/* 絞り込み検索 */
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.filter__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.filter__buttons button {
  margin-bottom: 7px;
  margin-top: 7px;
}
.filter__buttons button:first-child {
  margin-right: 15px;
}

.result__pagination {
  text-align: center;
  margin-top: 10px;
}
.result__pagination ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.result__pagination ul li {
  display: block;
  width: 35px;
  height: 35px;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  background: #ededed;
}
.result__pagination ul li:not(:last-child) {
  margin-right: 5px;
}
.result__pagination ul li:nth-child(n+9):nth-child(-n+12) {
  display: none;
}
.result__pagination ul li:nth-child(8) {
  position: relative;
  margin-right: 33px;
}
.result__pagination ul li:nth-child(8)::after {
  position: absolute;
  top: 6px;
  right: -28px;
  content: "･･･";
}
.result__pagination ul li.active {
  color: #fff;
  background: #039AE7;
}
.result__pagination ul li a {
  display: block;
  height: 100%;
  width: 100%;
}
.result__pagination-prev, .result__pagination-next {
  width: 60px !important;
  border: 1px solid #DDDDDD;
}
.result__pagination-prev span, .result__pagination-next span {
  font-size: 36px;
  line-height: 35px;
}

/* モーダルウィンドウ */
#modal {
  display: none;
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#modal_bg {
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.6);
}
#modal_content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1170px;
  height: 80%;
  background: #fff;
  border-radius: 5px;
  overflow-y: auto;
  overflow-y: scroll;
}

.error #modal_content {
  width: 400px;
  height: auto;
  border: 1px solid #CC0000;
  border-radius: 0;
  background: #fae5e5;
  overflow: hidden;
}
.error__header {
  color: #fff;
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #CC0000;
}
.error__body {
  text-align: center;
  padding: 15px;
}
.error__body p {
  color: #CC0000;
  font-size: 14px;
  margin-bottom: 10px;
}

.login main {
  margin-top: 160px;
}
.login .content__inner {
  max-width: 775px;
  text-align: center;
  margin: 70px auto 0 auto;
}
.login__head {
  font-size: 24px;
  font-family: "Hind", sans-serif;
  color: #039AE7;
  margin-bottom: 30px;
}
.login__message {
  margin-bottom: 30px;
}
.login__form {
  margin: 0 auto 35px auto;
  width: 360px;
}
.login__form li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login__form li:first-child {
  margin-bottom: 20px;
}
.login__form li figure {
  width: 50px;
  text-align: center;
}
.login__form li figure img {
  width: 23px;
  height: 100%;
}
.login__form li input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  text-align: left;
  overflow: auto;
  word-wrap: break-word;
  border: none;
  border-left: 1px solid #dfdfdf;
  border-radius: 0 3px 3px 0;
  padding: 0 20px;
}
.login__form li button {
  max-width: 50px;
  margin-left: 5px;
}
.login__form li button i {
  font-size: 12px;
  margin: 0;
}
.login__formGrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
}
.login__btn {
  width: 230px;
}
.login .footer {
  background: #fff;
}
.login-error .login__message {
  color: #cc0000;
}

.top .header-nav {
  padding-top: 10px;
}

.search__links {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  padding: 0 1.5em;
}
.search__links::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "｜";
}
.search__links li {
  position: relative;
  padding-right: 1.5em;
}
.search__links li::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "｜";
}
.search__links li:not(:first-child) {
  padding-left: 0.5em;
}
.search__classifying .search-box__item:first-child, .search__vehiclemodel .search-box__item:first-child {
  padding-top: 0;
}
.search__classifying .search-box__item:not(:first-child), .search__vehiclemodel .search-box__item:not(:first-child) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search__officialnum .search-box__item, .search__jrcnum .search-box__item {
  border-bottom: none;
  padding: 0;
}

.search-result__method {
  border-bottom: 1px solid #DDDDDD;
}
.search-result__method-info {
  margin-bottom: 10px;
}
.search-result__method-info tr {
  height: 25px;
}
.search-result__method-info tr:first-child td span:not(:last-child)::after {
  content: "＋";
  padding: 0 3px;
}
.search-result__method-info th,
.search-result__method-info td {
  vertical-align: middle;
}
.search-result__method-info th {
  color: #039AE7;
  font-weight: 700;
}
.search-result__method-info td {
  padding-left: 40px;
}
.search-result__body .table th,
.search-result__body .table td {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.search-result__body .table th:first-child,
.search-result__body .table td:first-child {
  width: 9.5em;
}
.search-result__body .table th:nth-child(2),
.search-result__body .table td:nth-child(2) {
  width: 6.5em;
}
.search-result__body .table th:nth-child(3),
.search-result__body .table td:nth-child(3) {
  width: 10.5em;
}
.search-result__body .table th:nth-child(4),
.search-result__body .table td:nth-child(4) {
  width: 10.5em;
}
.search-result__body .table th:nth-child(7),
.search-result__body .table td:nth-child(7) {
  width: 5.5em;
}
.search-result__body .table th:nth-child(8),
.search-result__body .table td:nth-child(8) {
  width: 4.5em;
}
.search-result__body .table th:nth-child(9),
.search-result__body .table td:nth-child(9) {
  width: 95px;
}
.search-result__body .table th:last-child,
.search-result__body .table td:last-child {
  width: 5em;
}
.search-result__body .table th:last-child img,
.search-result__body .table td:last-child img {
  width: 30px;
}
.search-result__body .table th:nth-child(7) {
  padding: 0 7px;
}
.search-result__body .table td {
  height: 40px;
}
.search-result__body .table td:nth-child(9) .table__select {
  width: 60px;
}
.search-result__body .table td:nth-child(9) .table__select select {
  text-align: left;
  padding-left: 15px;
}
.search-result__body .table td:nth-child(7), .search-result__body .table td:nth-child(8), .search-result__body .table td:nth-child(9), .search-result__body .table td:last-child {
  text-align: center;
}

.search-cart .table__footer {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search-cart .table th:first-child,
.search-cart .table td:first-child {
  width: 190px;
}
.search-cart .table th:nth-child(4),
.search-cart .table td:nth-child(4) {
  width: 90px;
}
.search-cart .table th:nth-child(5),
.search-cart .table td:nth-child(5) {
  width: 70px;
}
@media screen and (max-width: 1279px) {
  .search-cart .table th:nth-child(5),
.search-cart .table td:nth-child(5) {
    width: 55px;
  }
}
.search-cart .table th:nth-child(6),
.search-cart .table td:nth-child(6) {
  width: 95px;
}
.search-cart .table th:last-child,
.search-cart .table td:last-child {
  width: 55px;
}
@media screen and (max-width: 1279px) {
  .search-cart .table th:last-child,
.search-cart .table td:last-child {
    width: 45px;
  }
}
.search-cart .table th:nth-child(4) {
  padding: 0 7px;
}
.search-cart .table td:nth-child(6) .table__select {
  width: 60px;
}
.search-cart .table td:nth-child(6) .table__select select {
  padding-left: 15px;
}
.search-cart .table td:nth-child(4), .search-cart .table td:nth-child(5), .search-cart .table td:nth-child(6), .search-cart .table td:last-child {
  text-align: center;
}

.order-cart .table th:first-child,
.order-cart .table td:first-child {
  width: 220px;
}
.order-cart .table th:nth-child(4),
.order-cart .table td:nth-child(4) {
  width: 110px;
}
.order-cart .table th:nth-child(5),
.order-cart .table td:nth-child(5) {
  width: 135px;
}
.order-cart .table th:nth-child(6),
.order-cart .table td:nth-child(6) {
  width: 90px;
}
.order-cart .table th:last-child,
.order-cart .table td:last-child {
  width: 170px;
}
.order-cart .table td:nth-child(4), .order-cart .table td:nth-child(5), .order-cart .table td:nth-child(6), .order-cart .table td:last-child {
  text-align: center;
}
.order-cart .table td:nth-child(5) .table__select {
  width: 60px;
}
.order-cart .table td:nth-child(5) .table__select select {
  padding-left: 15px;
}
.order-cart .table__footer {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #DDDDDD;
}
.order-cart__price {
  text-align: right;
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 60px;
  padding-top: 20px;
}
.order-cart__price-label {
  font-size: 18px;
  margin-right: 20px;
}
.order-cart__price-body {
  font-size: 22px;
  font-weight: 700;
}
.order-cart__note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-left: 20px;
}
.order-cart__note label {
  margin-right: 30px;
}
.order-cart__note textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.order-complete__message {
  font-size: 18px;
  margin-bottom: 40px;
}

.mypage .table th {
  width: 170px;
}
.mypage .table__footer-buttons .btn {
  width: 190px;
}
.mypage .table__footer-buttons .btn:not(:last-child) {
  margin-right: 20px;
}

.order-history .table th:first-child,
.order-history .table td:first-child {
  width: 145px;
}
.order-history .table th:nth-child(2),
.order-history .table td:nth-child(2) {
  width: 120px;
}
.order-history .table th:last-child,
.order-history .table td:last-child {
  width: 125px;
}
.order-history .table td:last-child {
  text-align: center;
}

.user-edit .table th {
  width: 170px;
}
.user-edit .table td input {
  width: 450px;
}

.address .filter {
  border: 1px solid #F2F2F2;
  border-radius: 5px 5px 0 0;
  padding: 30px;
  margin-bottom: -1px;
}
.address .filter__list li input {
  width: 350px;
}
.address .filter__buttons .btn:first-child {
  width: 210px !important;
}
.address .filter + .content__inner {
  border-radius: 0 0 5px 5px;
}
.address .table__header {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.address .table th:first-child,
.address .table td:first-child {
  width: 300px;
}
.address .table th:nth-child(3),
.address .table td:nth-child(3) {
  width: 150px;
}
.address .table th:last-child,
.address .table td:last-child {
  width: 80px;
}
.address .table td:last-child {
  text-align: center;
}
.address .table td:last-child .btn {
  width: 50px;
}

.address-edit .table td input {
  width: 450px;
}

.guide .content__header-txt {
  font-size: 14px;
  line-height: 2;
}
.guide__loginout {
  margin-bottom: 80px !important;
}

.maintenance {
  margin: 160px 0;
}
.maintenance .text {
  text-align: center;
  line-height: 2;
  margin: 10rem 0;
}

.txt-color--blue {
  color: #00A4B8;
}
.txt-color--green {
  color: #1FBF6B;
}
.txt-color--orange {
  color: #FD9644;
}
.txt-color--pink {
  color: #FC5B65;
}
/*# sourceMappingURL=styles.css.map */